table{
	width:300px;
	margin:10px auto;
	border-collapse: collapse;
}
table thead{
	color: #1889ab;
	border:solid 1px #c9d3d8;
    background-color: #c9d3d8;
}
tr:first-child th:nth-child(1),tr:first-child th:nth-child(2),tr:first-child th:nth-last-child(1),tr:first-child th:nth-last-child(2){
	    cursor: pointer;
}
tr{
	text-align: center;
}
th{
	width:14%;
}
td:hover{
	background-color: rgb(9, 149, 212);
	cursor: pointer;
}
tbody td{
	border:solid 1px #c9d3d8;
}
img{
	width:20px;
	height: 20px;
}
#date{
	border: none;
    background-color: #c9d3d8;
    text-align: center;	
    width:100%;

}